<div class="jumbotron">
  <h1>Merchant Fraud Dashboard</h1>
  <%=image_tag("logo.jpg", alt: "anti fraud logo")%>
</div>
<div class="row">
  <%= form_tag(root_url, method: :get) do %>
    <%= select("Merchant", "merchant_id", options_for_select(Merchant.all.map{|m| m.name}, @merchant.name), {:include_blank => false, selected: :merchant}) %>
    <%= submit_tag "View Merchant", {:class => "btn btn-primary"} %>  
  <% end %>
  
</div>
<% Array(@merchant).each do |merchant| %>
  <% merchant_id = "merchant-" + merchant.id.to_s + "-payments" %>
  <div class="page-header">
    <div class="row"> 
      <div class="col-md-6">
        <h2><%= merchant.name %></h2>
      </div>
      <div class="col-md-3">
        <h3>Yelp Rating: <%= merchant.yelp_sum %></h3>
      </div>
      <div class="col-md-3">
        <h3>BBB Rating: <%= merchant.alphabetic_bbb_rating %></h3>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h3>Yelp Ratings</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Stars</th>
            <th>Review</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% merchant.yelp_reviews.each do |yelp_review| %>
            <tr>
              <td><%= yelp_review.stars %></td>
              <td><%= yelp_review.review %></td>
              <td><%= yelp_review.date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-header">
    <h3>Pending Payments</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Time</th>
          <th>amount</th>
          <th>currency</th>
          <th>Score Payment With Sentiment</th>
          <th>Score Payment Without Sentiment</th>
        </tr>
      </thead>
      <tbody>
        <% merchant.pending_payments.where(is_deleted: false).each do |pending_payment| %>
          <tr>
            <td><%= pending_payment.time.to_datetime %></td>
            <td><%= pending_payment.amount/100 %></td>
            <td><%= pending_payment.currency %></td>
            <td><%= link_to "Score with Sentiment", { controller: "payments", action: "score_payment", pending_payment: pending_payment, merchant_name: @merchant.name, sentiment: {yelp_sum: merchant.yelp_sum, bbb_rating: merchant.bbb_rating}}, { :class => "btn btn-primary", method: :post }%></td>
            <td><%= link_to "Score without Sentiment", { controller: "payments", action: "score_payment", pending_payment: pending_payment, merchant_name: @merchant.name}, { :class => "btn btn-info", method: :post }%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>


  <div class="page-header">
    <h3>Processed Payments</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Time</th>
          <th>amount</th>
          <th>currency</th>
          <th>likelyFraud</th>
          <th>label</th>
          <th>score</th>
          <th>Label as OK</th>
          <th>Label as Fraud</th>
        </tr>
      </thead>
      <tbody>
        <% GetMerchantPayments.new.call(merchant).each do |paymentScore| %>
          <tr>
            <td><%= Time.at(paymentScore["payment"]["timestamp"]).to_datetime %></td>
            <td><%= paymentScore["payment"]["amount"]/100 %></td>
            <td><%= paymentScore["payment"]["currency"] %></td>
            <td><%= paymentScore["score"]["likelyFraud"] %></td>
            <td><%= paymentScore["label"]%></td>
            <td><%= paymentScore["score"]["score"] %></td>
            <td><%= link_to "Label as OK", { controller: "payments", action: "relabel_payment", payment: paymentScore["payment"], new_label: "ok", merchant_name: @merchant.name}, { :class => "btn btn-success", method: :put }%></td>
            <td><%= link_to "Label as Fraud", { controller: "payments", action: "relabel_payment", payment: paymentScore["payment"], new_label: "fraud", merchant_name: @merchant.name}, { :class => "btn btn-danger", method: :put }%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>